<p>footer works!</p>
<div class="contenedor-footer">

    <div class="sub-contenedor-atajos">
        <div>
            <h3><a href="">titulos</a></h3>
            <ul>
                <li><a href="">item 1</a></li>
                <li><a href="">item 2</a></li>
                <li><a href="">item 3</a></li>
            </ul>
        </div>
        <div>
            <h3><a href="">titulos</a></h3>
            <ul>
                <li><a href="">item 1</a></li>
                <li><a href="">item 2</a></li>
                <li><a href="">item 3</a></li>
            </ul>
        </div>
        <div>
            <h3><a href="">titulos</a></h3>
            <ul>
                <li><a href="">item 1</a></li>
                <li><a href="">item 2</a></li>
                <li><a href="">item 3</a></li>
            </ul>
        </div>
        <div>
            <h3><a href="">titulos</a></h3>
            <ul>
                <li><a href="">item 1</a></li>
                <li><a href="">item 2</a></li>
                <li><a href="">item 3</a></li>
            </ul>
        </div>
    </div>
    <div class="sub-contenedor-centro">
        <div>
            <img src="" alt="">
        </div>
        <div>
            <p>Copyright</p>
            <p>pagina creada por Santiago N. Bertorello</p>
        </div>
    </div>
    <div class="sub-contendor-redes">
        <div>
            <h3>Nuestras Redes</h3>
        </div>
        <div>
            <ul>
                <li><a href="#"><i class="fab fa-facebook">f</i></a></li>
                <li><a href="#"><i class="fab fa-twitter">x</i></a></li>
                <li><a href="#"><i class="fab fa-instagram">i</i></a></li>
            </ul>
        </div>
    </div>
</div>