<p>landing works!</p>
<div>
    <div class="contenedor-carrusel">
        <div class="carrusel"><!-- aca iria carrusel de imagenes-->
        </div>
    </div>

    <div class="contenedor-destacados">
        <div>
            <h2>Servicios destacados</h2>
        </div>
        <div class="destacados">
            <div class="destacado-individual">
                <h3>Consulta General</h3>
                <button></button>
            </div>
            <div class="destacado-individual">
                <h3>Vacunación</h3>
                <button></button>
            </div>
            <div class="destacado-individual">
                <h3>Castración</h3>
                <button></button>
            </div>
            <div class="destacado-individual">
                <h3>Baños</h3>
                <button></button>
            </div>
        </div>
    </div>

    <div class="contenedor-reseñas">
        <div class="reseñas">
           <div class="reseña-individual"> 
                <div>
                    <h5>titulo</h5>
                </div>
                <div>
                    <div><p>comentario breve del cliente sobre el servicio</p></div>
                    <div><!--aca irian las estrellas puntaje --></div>
                
                </div>
            </div>
            <div class="reseña-individual"> 
                <div>
                    <h5>titulo</h5>
                </div>
                <div>
                    <div><p>comentario breve del cliente sobre el servicio</p></div>
                    <div><!--aca irian las estrellas puntaje --></div>
                
                </div>
            </div>
            <div class="reseña-individual"> 
                <div>
                    <h5>titulo</h5>
                </div>
                <div>
                    <div><p>comentario breve del cliente sobre el servicio</p></div>
                    <div><!--aca irian las estrellas puntaje --></div>
                
                </div>
            </div>
            <div class="reseña-individual"> 
                <div>
                    <h5>titulo</h5>
                </div>
                <div>
                    <div><p>comentario breve del cliente sobre el servicio</p></div>
                    <div><!--aca irian las estrellas puntaje --></div>
                
                </div>
            </div>
            <div class="reseña-individual"> 
                <div>
                    <h5>titulo</h5>
                </div>
                <div>
                    <div><p>comentario breve del cliente sobre el servicio</p></div>
                    <div><!--aca irian las estrellas puntaje --></div>
                
                </div>
            </div>
        </div>
    </div>
</div>