<section class="mensaje-en-el-header">
    <div>
        <span>mensaje que se desplaza de derecha a izquierda</span>
    </div>
</section>
<div class="contenedor-header">
    <div class="imagen-logo">
        <img src="" alt="">logo
    </div>
    <div class="contenedor-menu-top">

        <div class="lista-menu">
            <ul class="lista-header">
                <li ><a class="links-del-header" href="">Inicio</a></li>
                <li ><a class="links-del-header" href="">Servicios</a></li>
                <li ><a class="links-del-header" href="">Petshop</a></li>
                <li ><a class="links-del-header" href="">Contacto</a></li>
                <li ><a class="links-del-header" href="">Ubicación</a></li>
            </ul>
        </div>
        <div class="lista-menu-iconos-derecha">
            <ul class="lista-iconos">
                <li><a href="">Img Login</a></li>
                <li><a href="">Img Carrito</a></li>
            </ul>
        </div>
    </div>        
</div>

