<p>dashboard-principal works!</p>

<div class="dashboard-fondo">
 <div class='dashboard-contenedor'> 
      <div class="user-info" *ngIf="usuario as usuario">
      <h1>Bienvenido, {{ usuario.username }}!</h1>
      <p>{{ usuario.email }}</p>
      </div>
      <div class="botones-perfil">
        <button class="btn-perfil" routerLink="/perfil" routerLinkActive="router-link-active"  >Ver Perfil</button>
      </div>
    </div>
    <div class="dashboard-opciones">
      <h2>Opciones</h2>
      <button class="btn-option" (click)="registrarMascota()">Registrar Mascota</button>
      <button class="btn-option" (click)="verMascotas()">Visualizar Mascotas</button>
      <button class="btn-option" (click)="verHistorialCompras()">Historial de Compras</button>
    </div>

    
  </div>
  <router-outlet></router-outlet>
